aiohttp==3.6.2
altgraph==0.17
asgiref==3.2.10
async-timeout==3.0.1
attrs==20.2.0
beautifulsoup4==4.9.1
bitly-api==0.3
cairocffi==1.1.0
CairoSVG==2.4.2
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
clarifai==2.6.2
click==7.1.2
cmake==3.18.2.post1
configparser==5.0.0
cryptography==3.0
cssselect2==0.3.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
discord.py==1.4.1
Django==3.1.1
EasyProcess==0.3
emoji==0.5.4
face-recognition-models==0.3.0
Flask==1.1.2
fonttools==4.14.0
future==0.18.2
google==3.0.0
googleapis-common-protos==1.52.0
grpcio==1.30.0
guiscrcpy==4.1.2
idna==2.10
imutils==0.5.3
instapy==0.6.9
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==2.6.0
kiwisolver==1.2.0
lxml==4.5.2
MarkupSafe==1.1.1
MeaningCloud-python==1.2.2
multidict==4.7.6
numpy==1.19.1
packaging==20.4
pandas==1.1.1
pefile==2019.4.18
Pillow==7.2.0
plyer==1.4.3
protobuf==3.12.2
psutil==5.7.2
pycparser==2.20
pygame==1.9.6
PyInstaller==3.6
pynput==1.7.1
pyparsing==2.4.7
PyQt5==5.15.0
PyQt5-sip==12.8.1
PySimpleGUI==4.29.0
python-dateutil==2.8.1
python-telegram-bot==12.8
pytube3==9.6.4
pytz==2020.1
pywin32==228
pywin32-ctypes==0.2.0
pyWinhook==1.6.2
PyYAML==5.3.1
QtPy==1.9.0
regex==2020.7.14
requests==2.24.0
selenium==3.141.0
six==1.15.0
slug==2.0
SoundFile==0.10.3.post1
soupsieve==2.0.1
sqlparse==0.3.1
tabulate==0.8.7
tinycss2==1.0.2
tinydb==4.1.1
tornado==6.0.4
tqdm==4.48.0
typing-extensions==3.7.4.2
urllib3==1.25.9
webdriverdownloader==1.1.0.3
webencodings==0.5.1
Werkzeug==1.0.1
wget==3.2
yarl==1.5.1